
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="//graycarl.me/template/hhb-icon.png" type="image/png">
<title> 文章列表  - Hongbo He</title>

<!-- Bootstrap -->
<!--
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
-->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(//graycarl.me/template/racing-sans-one.woff) format('woff');
}
</style>
<link href="//graycarl.me/template/yue.css" rel="stylesheet">
<link href="//graycarl.me/template/style.less" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
 
</head>
<body>
<div id="wrapper" class="container">

    <header id="banner">
        <hgroup>
        <h1><a href="/">贷成的博客</a></h1>
        <p><p>夫唯道，善贷且成！</p></p>
        </hgroup>
    </header>

{{ renderNav()|safe }}

{% block content %}
        <p>Default content to be displayed</p>
{% endblock content %}



    <div id="footer">
        <div class="powered_by">
            <span>Powered by</span>
            <a href="http://www.farbox.com" target="_blank">FarBox.com</a> |
            <a href="/admin">Admin</a>
            <span>@ 2014 大灰狼</span>
        </div>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>