{% extends "base.html" %}
{% block content %}
<link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
<div class="post">
    <h1>
        <a href="/{{ post.path }}.html">{{ post.title }}</a>
    </h1>
    <p class="entry-meta">Published @ <abbr title="{{ post.date }}">{{ post.date }}</abbr></p>
    <div class="content">
    	{{ postcontent|safe }}
    </div>
    <div class="footer">
    </div>
</div>
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
{% include 'comment.html' %}
{% endblock content %}