#wrapper {
  max-width: 850px;
  margin: 0px auto; }

  #banner {
    font-size: 120%;
    text-align: center;
    margin: 10px 0px 15px 0px; }
    #banner h1, #banner p {
      font-family: "Racing Sans One", sans-serif;
      margin: 0px;
      color: gray; }
      #banner h1 {
        font-size: 300%; }
        #banner p {
          font-size: 110%; }
          #banner a {
            color: gray; }

#navbar form input {
  width: 130px;
  transition: width 0.6s; }
  #navbar form input:focus {
    width: 250px; }

@media (min-width:768px) {
  #navbar .navbar-collapse {
    padding-left: 0px;   }
}

div#links {
  line-height: 164px; }

  #footer {
    text-align: right;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #999; }
    #footer a {
      color: #666;
      text-decoration: none; }
      #footer a:hover {
        text-decoration: underline; }

.books td {
  padding: 13px; }
  .books td img {
    box-shadow: 0 0 8px gray; }

.post-list {
  font-size: 120%; }
  .post-list .post-summary {
    border-bottom: dashed currentColor 1px; }
    .post-list .post-summary .title {
      color: black;
      font-size: 140%;
      font-weight: bold; }
      .post-list .post-summary .title a {
        color: black; }
    .post-list .post-summary p {
      margin: 0 0 0.6em 0;
      line-height: 1.4; }
      .post-list .post-summary .tag {
        font-style: italic; }
        .post-list .post-summary .tag::before {
          content: "#"; }
          .post-list .post-summary .meta {
            font-size: 80%;
            color: gray; }
